
ion-header {
    height: 0;
    ion-back-button {
        color: #213778;
    }
    ion-toolbar {
        --background: transparent;
    }
}
h4 {
    margin: 0;
    color: var(--title-color);
    font-size: 14px;
}
.service-img{
    width: unset;
    margin-bottom: 32px !important;
  
}