ion-content {
    // --background: rgba(228, 228, 228, 20%);
    --background: #f0f2f9;
    .rx-number {
        .form-control {
            border-radius: 0;
        }
        label {
            color: #033295d6;
            font-size: 15px;
        }
    }
    ion-datetime {
        display: flex;
        align-items: center;
    }
    h4 {
        margin: 0;
        padding-left: 2px;
        color: var(--title-color);
        font-size: 18px;
    }
    .serivice-title {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: white;
        .icon {
            height: 22px;
            width: 17px;
            margin-right: 5px;
        }
        .logo-img {
            height: 37px;
        }
    }
    ion-label {
        color: #033295d6;
        font-size: 16px;
    }
}
.submit-btn {
    .btn {
        background: linear-gradient(to right, #15275e, #4160b8);
        // padding: 11px 66px;
        padding: 8px 43px;
        font-size: 21px;
        @media only screen and (max-width: 360px) {
            padding: 6px 37px;
            font-size: 18px;
        }
    }
}
