<ion-header>
  <div class="header d-flex">
    <div class="back-icon float-left">
      <ion-back-button [icon]="'arrow-back-outline'" [text]="">
      </ion-back-button>
    </div>
  </div>
</ion-header>

<ion-content class="service-detail">
  <div class="cover-img curbside">
    <div class="about-img">
      <img src="assets/images/crub-side-inside.jpeg">
    </div>
  </div>
  <div class="servicename-card">
    <p class="card-title m-0 mt-2">{{details.title}}</p>
    <p class="des m-0">{{details.subTitle}}</p>
  </div>
  <div class="about-text">
    <p class="sub-title"><strong>{{details.contentTitle}}</strong> {{details.content1}}</p>
    <p class="sub-title"> {{details.content2}}</p>
    <p class="sub-title">{{details.content3}}</p>
  </div>
</ion-content>