ion-content {
    --background: #f0f2f9;
    
    .table th,
    .table td {
        padding: 10px !important;
    }

    .table{
        border-radius: 5px;
    }

    ion-segment {
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        ion-segment-button {
            min-width: fit-content;
        }
    }
}
