
ion-header {
    height: 0;
    ion-back-button,ion-menu-button {
        color:var(--heading-color);
    }
    ion-toolbar {
        --background: transparent;
    }
}

h4 {
    margin: 0;
    color: var(--title-color);
    font-size: 14px;
}
.first-title{
    color: var(--title-color) !important;
}

