/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;300&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

:root {
    --text-color: #a1a1a1;
    --btn-color: #113a8b;
    --title-color: #de1937;
    --heading-color: #092882;
}

.invalid-feedback {
    display: block;
}

body *[routerlink] {
    outline: none !important;
}

.roboto-miduim {
    font-family: "Roboto", sans-serif;
}

// Header css start

ion-header ion-toolbar:first-child {
    --background: #092882;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    ion-title {
        font-size: 17px;
        font-family: "Roboto", sans-serif;
    }
}
.header-md:after {
    background-image: unset;
}
// header css end

//Login and Sign up form css

.login-page {
    padding: 10px;
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100vh;
    height: 100%;
    .text-color {
        color: var(--text-color);
        font-size: 16px;
    }
    .login_form {
        width: 300px;
        border-radius: 8px;
        padding: 18px;
        padding-top: 7px;
        margin: auto;
        .login_btn {
            background-color: var(--btn-color);
            padding: 5px 10px;
            font-size: 16px;
            // line-height: 40px;
            font-weight: 500;
            width: 100%;
            border-radius: 5px;
            outline: none;
            position: relative;
            color: #fff;
            cursor: pointer;
            box-shadow: none;
        }
        input {
            padding-left: 30px;
        }
    }

    .form-control {
        font-size: 12px;
        border: none;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        font-weight: 500;
        color: var(--text-color);
        background: #f9f9f9;
        box-shadow: none;
        padding: 17px 0;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-weight: 500;
        color: var(--text-color);
        font-size: 12px;
    }

    .sign_up_link {
        margin: 15px 0px 5px;
        width: 100%;
        display: inline-block;
        a {
            font-size: 12px;
            color: #184f68;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
        }
        p {
            font-size: 12px;
            color: var(--text-color);
        }
        span {
            color: var(--btn-color);
        }
    }

    .or_section {
        position: relative;
        font-size: 12px;
        text-align: center;
        color: #184f68;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .social_media_login {
        margin-top: 8px;
        .facebook_login {
            button {
                cursor: pointer;
                // border: 2px solid #003574;
                color: white;
                font-size: 12px;
                font-weight: 900;
                border-radius: 4px;
                width: 100%;
                background-color: var(--btn-color);
                padding: 6px 4px;
                outline: none;
                box-shadow: none;
                i {
                    padding-right: 10px;
                }
            }
        }
        .google_login {
            button {
                cursor: pointer;
                // border: 2px solid #003574;
                color: var(--text-color);
                font-size: 12px;
                font-weight: 900;
                border-radius: 4px;
                width: 100%;
                background-color: #fff;
                padding: 6px 4px;
                outline: none;
                box-shadow: none;
                // i {
                //     padding-right: 10px;
                // }
                img {
                    height: 13px;
                    margin-top: -2px;
                    margin-right: 2px;
                }
            }
        }
    }
    .lock-icon {
        color: #899ee0;
        font-size: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        // margin: auto;
        left: 9px;
    }
    .eye-icon {
        position: absolute;
        right: 7px;
        bottom: 0;
        top: 11px;
        color: #899ee0;
        // margin: auto;
        font-size: 15px;
    }
}
.form-name {
    .form-title {
        padding-bottom: 5px;
        border-bottom: 2px solid #0dc9ff;
        display: inline-block;
        font-weight: 600;
    }

    h4 {
        // font-size: 15px;
        // font-weight: 600;
    }
}

.form-detail {
    .form-control {
        font-size: 12px;
        border: none;
        border-radius: 5px;
        border: 1px solid #d2d2d2;
        font-weight: 500;
        color: var(--text-color);
        background: #f9f9f9;
        box-shadow: none;
        padding: 17px 0 17px 15px;
    }
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        // font-weight: 500;
        color: var(--text-color);
        font-size: 12px;
    }

    .form-control:focus {
        border-color: #d2d2d2;
    }
}
.form-footer {
    padding: 25px;
}
.form-footer ion-item {
    --background: transparent;
    font-size: 12px;
    // font-weight: 600;
    --padding-start: 0px;
    border-bottom: 1.5px solid #033295d6;
    ion-datetime,ion-input{
        border-bottom: none;
    }
  
}
.submit-btn {
    button {
        background-color: var(--btn-color) !important;
        color: rgba(250, 250, 250, 70%);
        border-radius: 0;
        font-size: 13px;
        padding: 7px 23px;
    }
    .btn {
        outline: none;
        box-shadow: none;
    }
    .btn:hover {
        color: rgba(250, 250, 250, 0.7);
    }
}

//Footer css
.footer-md::before {
    content: none !important;
}
.footer-ios ion-toolbar:first-of-type {
    --border-width: 0 !important;
}
//footer css end


.service-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    img {
        height: 34px;
        width: 30px;
        margin-top: 2px;
    }
}

.service-detail {
    .about-img {
        height: 192px;
        width: 100%;
        img {
            min-height: 100%;
            max-height: 100%;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .servicename-card {
        background: linear-gradient(180deg, #4160b8, #15275e);
        // padding: 1px 24px;
        padding: 11px 11px 26px;
        border-radius: 9px;
        margin-top: -26px;
        z-index: 4;
        position: relative;
        margin: -26px 15px 0;
        color: white;
        box-shadow: 0 3px 6px #00000029;
        // height: 91px;
        .card-title {
            font-size: 17px;
        }
        .des {
            font-size: 12px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
        }
        img {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .about-text {
        padding: 30px 25px 30px 43px;
        .title-img {
            height: 53px;
            width: 53px;
        }
        .heading {
            color: var(--heading-color);
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 4px;
        }
        .sub-title {
            color: #184f68;
            font-size: 12px;
        }
        .titles {
            color: var(--heading-color);
            font-weight: 400;
            font-size: 17px;
        }

        h4 {
            margin: 0;
            color: var(--title-color);
            font-size: 14px;
        }
        .mission-img {
            height: 132px;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            img {
                max-width: 100%;
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
}

.medication-forms {
    padding: 35px;
    .titles {
        color: var(--heading-color);
        font-weight: 400;
        font-size: 17px;
    }
    .form-control,
    textarea {
        border-bottom: 1.5px solid #033295d6 !important;
        border: none;
        border-radius: 0;
        background: transparent;
        color: #033295d6;
        font-size: 15px;
        padding-left: 0;
        box-shadow: none;
    }
    .form-control {
        box-shadow: none;
    }
    .form-control:focus {
        color: var(--heading-color);
        background-color: transparent;
    }
   
    ion-datetime,
    ion-select {
        padding: 9px 0;
        border-bottom: 1.5px solid #033295d6;
        color: #033295d6;
        font-size: 15px;
    }
    ion-select {
        --placeholder-color: #033295d6;
        --placeholder-opacity: 1;

        font-size: 15px;
        .select-icon {
            display: none;
        }
    }
    ion-label {
        --color: #033295d6;
    }
    ::placeholder {
        color: #033295d6;
        font-size: 15px;
    }
    .date-icon {
        position: absolute;
        top: 15px;
        right: 5px;
        color: #033295;
    }
}
// Loader css start here
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #9e9e9e2e;
}

.heartbeatloader {
    position: absolute;
    width: 110px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.svgdraw {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.loaderPill {
    text-align: center;
}

.loaderPill-anim {
    height: 160px;
}

.loaderPill-anim-bounce {
    -webkit-animation: loaderPillBounce 1800ms linear infinite;
    animation: loaderPillBounce 1800ms linear infinite;
}

.loaderPill-anim-flop {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loaderPillFlop 1800ms linear infinite;
    animation: loaderPillFlop 1800ms linear infinite;
}

.loaderPill-pill {
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--heading-color);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, var(--heading-color)),
        color-stop(50%, #ffffff)
    );
    background-image: linear-gradient(to right, var(--heading-color) 50%, #ffffff 50%);
}

.loaderPill-floor {
    display: block;
    text-align: center;
}

.loaderPill-floor-shadow {
    display: inline-block;
    width: 70px;
    height: 7px;
    border-radius: 50%;
    background-color: #30408754;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-animation: loaderPillScale 1800ms linear infinite;
    animation: loaderPillScale 1800ms linear infinite;
}

.loaderPill-text {
    font-weight: bold;
    color: #237db5;
    text-transform: uppercase;
}

@-webkit-keyframes loaderPillBounce {
    0% {
        -webkit-transform: translateY(123px);
        transform: translateY(123px);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    25% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    50% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
    }
}

@keyframes loaderPillBounce {
    0% {
        -webkit-transform: translateY(123px);
        transform: translateY(123px);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    25% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    50% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
    }
}

@-webkit-keyframes loaderPillFlop {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes loaderPillFlop {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@-webkit-keyframes loaderPillScale {
    0% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    25% {
        -webkit-transform: translateY(-15px) scale(0.7, 1);
        transform: translateY(-15px) scale(0.7, 1);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    50% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    75% {
        -webkit-transform: translateY(-15px) scale(0.6, 1);
        transform: translateY(-15px) scale(0.6, 1);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
    }
}

@keyframes loaderPillScale {
    0% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    25% {
        -webkit-transform: translateY(-15px) scale(0.7, 1);
        transform: translateY(-15px) scale(0.7, 1);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    50% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    75% {
        -webkit-transform: translateY(-15px) scale(0.6, 1);
        transform: translateY(-15px) scale(0.6, 1);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    100% {
        -webkit-transform: translateY(-15px) scale(1, 1);
        transform: translateY(-15px) scale(1, 1);
    }
}
//end loader css

// all modal css start here
.modal_content_with_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    overflow: auto;
    z-index: 999;
}

.modal_body {
    margin: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 92vw;
    max-height: 85vh;
    overflow: scroll;
    .modal_header {
        border-bottom: 1px solid rgba(156, 156, 156, 0.27);
        padding: 12px 0px;
        p {
            font-weight: 600;
            line-height: 28px;
        }
    }
    .modal_content {
        padding: 20px 20px 30px 20px;
        h5 {
            color: #033295;
        }
        ion-input {
            font-size: 14px !important;
            --color: #7f8dab;
            --padding-start: 10px;
        }
        ion-label {
            font-size: 14px !important;
            --color: #7f8dab;
            font-weight: 500;
        }
        ion-item {
            --padding-start: 0px;
            --inner-padding-top: 0px;
        }
    }
}

// all modal css end here
