
<ion-header>
  <div class="header d-flex">
    <div class="back-icon float-left">
      <ion-back-button [icon]="'arrow-back-outline'" [text]="">
      </ion-back-button>
    </div>
  </div>
</ion-header>

<ion-content class="service-detail">
  <div class="about-img">
    <img src="assets/images/free-home-inside.png" style="object-fit: fill;">
  </div>

  <div class="servicename-card">
    <p class="card-title m-0">{{details.title}}</p>
    <p class="des m-0">{{details.subTitle}}</p>
  </div>
  <div class="about-text roboto-miduim ion-padding pb-0">
    <p class="sub-title">{{details.content1}}</p>
    <p class="sub-title">{{details.content2}}</p>
  </div>

  <div class="form-section medication-forms pt-0">
   
    <form [formGroup]="freeDeliveryForm">
      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.firstName" formControlName="first_name"
          [(ngModel)]="currentUserData.first_name">
        <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
          <div *ngIf="f.first_name.errors.required">{{formDetail.validation.fname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="formDetail.lastName" formControlName="last_name"
          [(ngModel)]="currentUserData.last_name">
        <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required">{{formDetail.validation.lname}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" [placeholder]="formDetail.email" formControlName="email"
          [(ngModel)]="currentUserData.email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{formDetail.validation.email}}</div>
          <div *ngIf="f.email.errors.email">{{formDetail.validation.email1}}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" [placeholder]="formDetail.phone" formControlName="phone_number"
          [(ngModel)]="currentUserData.phone_number">
        <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
          <div *ngIf="f.phone_number.errors.required">{{formDetail.validation.phone}}</div>
        </div>
      </div>

      <div class="check-box ubntu-regular">
        <ion-checkbox formControlName="free_delivery"></ion-checkbox>
        <ion-label>{{formDetail.checkLabel}}</ion-label>
      </div>

      <div class="form-footer ubntu-regular">
        <span>{{formDetail.selectLabel}}</span>
        <ion-item>
          <ion-label>{{formDetail.select}}</ion-label>
          <ion-select value="No Thanks" formControlName="notify">
            <ion-select-option value="No Thanks">{{formDetail.option1}}</ion-select-option>
            <ion-select-option value="Yes,By Email">{{formDetail.option2}}</ion-select-option>
            <ion-select-option value="Yes,By Phone">{{formDetail.option3}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="submit-btn">
        <button class="btn " [disabled]="isDisable"
          (click)="addFreeDeliveryForm(freeDeliveryForm.value)">{{formDetail.btnText}}</button>
      </div>
    </form>
  </div>

  <div *ngIf="loading">
    <div id="loader-wrapper">
      <div class="heartbeatloader">
        <div class="absCenter ">
          <div class="loaderPill">
            <div class="loaderPill-anim">
              <div class="loaderPill-anim-bounce">
                <div class="loaderPill-anim-flop">
                  <div class="loaderPill-pill"></div>
                </div>
              </div>
            </div>
            <div class="loaderPill-floor">
              <div class="loaderPill-floor-shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>